.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  text-align: center;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  padding: 20px 50px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.text-center {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
