.example-spacer {
  flex: 1 1 auto;
}

.btn {
  cursor: pointer;
}

.action {
  margin-right: 30px;
}

.section {
  margin-bottom: 30px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}

.justify-between {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.spinner__wrapper{
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.toolbar{
  margin-bottom: 30px;
}


.section__header {
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  width: 100%;
}
