<mat-toolbar class="toolbar">
    <div class="toolbar__item">
        <h1>Онлайн текстовый редактор</h1>
    </div>

    <div class="toolbar__item search">
        <mat-icon class="search__icon">search</mat-icon>
        <input class="search__field" placeholder="Поиск">
    </div>

    <span class="example-spacer"></span>
    <div>
        <span *ngIf="isLoadingMe">
            <mat-spinner color="warn" diameter="40"></mat-spinner>
        </span>
        <span *ngIf="isErrorMe">
            <mat-icon>cloud_off</mat-icon>
        </span>
        <button mat-button mat-icon-button>
            <mat-icon *ngIf="!isLoadingMe && !isErrorMe" mat-button [matMenuTriggerFor]="me" class="header__avatar">
                account_circle</mat-icon>
        </button>
        <mat-menu #me="matMenu">
            <h1>{{Me?.fullname}}</h1>
            <button (click)="signOut()" mat-button>
                Exit
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>

<div class="containerCards">
    <button (click)="isViewTable = !isViewTable" mat-button mat-icon-button>
        <mat-icon *ngIf="!isViewTable"> table_chart</mat-icon>
        <mat-icon *ngIf="isViewTable">grid_on</mat-icon>
    </button>

    <section class="cards" *ngIf="!isViewTable">
        <div class="cards__item" *ngFor="let text of dataSource">
            <div class="cards__item__content" [routerLink]="['/text/', text.text.id,'edit']">
                <div class="cards__item__preview__wrapper">
                    <img class="cards__item__preview" *ngIf="text.text.previewUrl" src="{{text.text.previewUrl}}">
                    <div class="cards__item__preview" *ngIf="!text.text.previewUrl"> </div>
                </div>
                <h4 class="cards__item__title">{{text.text.title}}</h4>
                <span class="cards__item__updated">{{text.text.updatedAt}}</span>
            </div>
            <button class="cards__item__menu" mat-button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="deleteText(text.text.id)">
                    <mat-icon>delete</mat-icon>
                    <span>Удалить</span>
                </button>
            </mat-menu>
        </div>
    </section>

    <section class="section" *ngIf="isViewTable">
        <div class="justify-between">
            <h1>Мой текста</h1>
            <button mat-flat-button (click)="createText()">Create new Text <mat-icon>add</mat-icon></button>
        </div>
        <div class="spinner__wrapper" *ngIf="isLoadingMineTexts">
            <mat-spinner></mat-spinner>
        </div>
        <div class="spinner__wrapper" *ngIf="isErrorMineTexts">
            <mat-icon>cloud_off</mat-icon>
        </div>
        <table *ngIf="!isLoadingMineTexts && !isErrorMineTexts" mat-table [dataSource]="dataSource"
            class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> id. </th>
                <td mat-cell *matCellDef="let element"> {{element.text.id}} </td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> title </th>
                <td mat-cell *matCellDef="let element"> {{element.text.title}} </td>
            </ng-container>

            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef> user </th>
                <td mat-cell *matCellDef="let element"> {{element.text.user.fullname}} </td>
            </ng-container>

            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef> createdAt </th>
                <td mat-cell *matCellDef="let element"> {{element.text.createdAt}} </td>
            </ng-container>

            <ng-container matColumnDef="updatedAt">
                <th mat-header-cell *matHeaderCellDef> updatedAt </th>
                <td mat-cell *matCellDef="let element"> {{element.text.updatedAt}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element" class="actions">
                    <a mat-button mat-icon-button [routerLink]="['/text/', element.text.id]" class="action">
                        <mat-icon>remove_red_eye</mat-icon>
                    </a>
                    <a mat-button mat-icon-button (click)="deleteText(element.text.id)" class="btn action">
                        <mat-icon>delete</mat-icon>
                    </a>
                    <a mat-button mat-icon-button [routerLink]="['/text/', element.text.id,'edit']" class="action">
                        <mat-icon>edit</mat-icon>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </section>
</div>