<mat-toolbar class="toolbar">
    <div class="toolbar__item">
        <h1>Онлайн текстовый редактор</h1>
    </div>

    <div class="toolbar__item search">
        <mat-icon class="search__icon">search</mat-icon>
        <input #search (keyup.enter)="onSearch(search.value)" class="search__field" placeholder="Поиск">
    </div>

    <span class="example-spacer"></span>
    <div>
        <span *ngIf="isLoadingMe">
            <mat-spinner color="warn" diameter="40"></mat-spinner>
        </span>
        <span *ngIf="isErrorMe">
            <mat-icon>cloud_off</mat-icon>
        </span>
        <button *ngIf="!isLoadingMe && !isErrorMe" mat-button mat-icon-button [matMenuTriggerFor]="me">
            <app-avatar [size]="40" [url]="Me?.avatarUrl"></app-avatar>
        </button>
        <mat-menu #me="matMenu" class="menuContainer">
            <input hidden type="file" class="file-input" (change)="onAvatarSelected($event)" #fileUpload>
            <div (click)="fileUpload.click()" class="menu__avatar__wrapper">
                <app-avatar [size]="80" [url]="Me?.avatarUrl"></app-avatar>
            </div>
            <h1 class="menu__fullname">{{Me?.fullname}}</h1>
            <h3 class="menu__email">{{Me?.email}}</h3>
            <button mat-menu-item class="menu__btn" (click)="signOut()">
                Выйти
            </button>

        </mat-menu>
    </div>
</mat-toolbar>
<button class="createBtn" mat-fab color="primary" (click)="createText()">
    <mat-icon>add</mat-icon>
</button>
<div class="containerCards">
    <div class="filters">
        <h2 class="table__item__title">
            {{searchedTitle === ''? 'Текста': 'Поиск: '+searchedTitle}}
        </h2>

        <mat-form-field class="table__item__user" appearance="standard">
            <mat-select (closed)="onSearch(search.value, false)" [(value)]="ownerFilter">
                <mat-option [value]="'all'">
                    Владелец: кто угодно
                </mat-option>
                <mat-option [value]="'me'">
                    Владелец: я
                </mat-option>
                <mat-option [value]="'shared'">
                    Владелец: не я
                </mat-option>
            </mat-select>
        </mat-form-field>
        <span *ngIf="isViewTable">Дата изменения</span>
        <div class="filters__btns">
            <button (click)="isViewTable = !isViewTable" mat-button mat-icon-button>
                <mat-icon *ngIf="!isViewTable"> table_chart</mat-icon>
                <mat-icon *ngIf="isViewTable">grid_on</mat-icon>
            </button>
        </div>
    </div>

    <section class="cards" *ngIf="!isViewTable">
        <div class="cards__item" *ngFor="let text of dataSource">
            <div class="cards__item__content" [routerLink]="['/text/', text.text.id]">
                <div class="cards__item__preview__wrapper">
                    <img class="cards__item__preview" *ngIf="text.text.previewUrl" src="{{text.text.previewUrl}}">
                    <div class="cards__item__preview" *ngIf="!text.text.previewUrl"> </div>
                </div>
                <h4 class="cards__item__title">{{text.text.title}}</h4>
                <span class="cards__item__updated">{{text.text.updatedAt}}</span>
            </div>
            <button class="cards__item__menu" mat-button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button [disabled]="text.permission != 'owner'" mat-menu-item (click)="deleteText(text.text.id)">
                    <mat-icon>delete</mat-icon>
                    <span>Удалить</span>
                </button>
            </mat-menu>
        </div>
    </section>

    <section class="section" *ngIf="isViewTable">
        <div class="spinner__wrapper" *ngIf="isLoadingMineTexts">
            <mat-spinner></mat-spinner>
        </div>
        <div class="spinner__wrapper" *ngIf="isErrorMineTexts">
            <mat-icon>cloud_off</mat-icon>
        </div>
        <div *ngIf="!isLoadingMineTexts && !isErrorMineTexts" class="table">
            <div class="table__item" *ngFor="let text of dataSource">
                <div class="table__item__content" [routerLink]="['/text/', text.text.id]">
                    <span class="table__item__title">{{text.text.title}}</span>
                    <span class="table__item__user">{{text.text.user.fullname}}</span>
                    <span class="table__item__updated">{{text.text.updatedAt}}</span>
                </div>
                <button class="table__item__menu" mat-button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button [disabled]="text.permission != 'owner'" mat-menu-item (click)="deleteText(text.text.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Удалить</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </section>
</div>