<h1 mat-dialog-title class="header">
    <mat-icon>group_add</mat-icon> Предоставьте доступ пользователям
</h1>
<div mat-dialog-content>
    <h3>Постоянные ссылки</h3>
    <div>
        <div>
            <div class="constantToken__title">Редактирование</div>
            <div class="constantToken__content">
                <span>{{ConstantEditToken}}</span>
                <div>
                    <a (click)="copyToken(ConstantEditToken)" class="action" mat-button>
                        <mat-icon>file_copy</mat-icon>
                    </a>
                    <button mat-raised-button color="primary" (click)="generateConstantToken('edit')">
                        Сгенерировать
                        <mat-icon>link</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div>
            <div class="constantToken__title">Чтение</div>
            <div class="constantToken__content">
                <span>{{ConstantReadToken}}</span>
                <div>
                    <a (click)="copyToken(ConstantReadToken)" class="action" mat-button>
                        <mat-icon>file_copy</mat-icon>
                    </a>
                    <button mat-raised-button color="primary" (click)="generateConstantToken('read')">
                        Сгенерировать
                        <mat-icon>link</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <h3>Сгенерировать одноразовую ссылку</h3>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Выберите тип разрешения</mat-label>
            <mat-select [(value)]="selectedPermission">
                <mat-option *ngFor="let permission of permissions" [value]="permission">
                    {{permission}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="generateSingleToken()">
            Сгенерировать
            <mat-icon>link</mat-icon>
        </button>
    </div>
    <div>
        <h3>Одноразовые ссылки</h3>
        <table *ngIf="!isLoadingTokens && !isErrorTokens" mat-table [dataSource]="tokens">
            <ng-container matColumnDef="permission">
                <th mat-header-cell *matHeaderCellDef>Разрешение</th>
                <td mat-cell *matCellDef="let token"> {{token.permission}} </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Токен</th>
                <td mat-cell *matCellDef="let token">
                    {{token.token}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Действия</th>
                <td mat-cell *matCellDef="let element" class="actions">
                    <a (click)="copyToken(element.token)" class="action" mat-button>
                        <mat-icon>file_copy</mat-icon>
                    </a>
                    <a (click)="deleteSingleToken(element.id)" mat-button class="btn action">
                        <mat-icon>delete</mat-icon>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsToken"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsToken;"></tr>
        </table>
    </div>
    <div>
        <h3>Доступен</h3>
        <table *ngIf="!isLoadingUserPermission && !isErrorUserPermission" mat-table [dataSource]="userPermissions">

            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef>Пользователь</th>
                <td mat-cell *matCellDef="let token"> {{token.user.fullname}} </td>
            </ng-container>
            <ng-container matColumnDef="permission">
                <th mat-header-cell *matHeaderCellDef>Разрешение</th>
                <td mat-cell *matCellDef="let token"> {{token.permission}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Действия</th>
                <td mat-cell *matCellDef="let element" class="actions">
                    <a (click)="deleteUserPermission(element.id)" mat-button class="btn action">
                        <mat-icon>delete</mat-icon>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsUser"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsUser;"></tr>
        </table>
    </div>
</div>