<h1 mat-dialog-title>
    <mat-icon>group_add</mat-icon> Предоставьте доступ пользователям <mat-icon>settings</mat-icon>
</h1>
<div mat-dialog-content>
    Сгенерировать одноразовую ссылку
    <button mat-raised-button color="primary" (click)="generateSingleLink()">
        Сгенерировать
        <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <div>
        Доступен
        <ul>
            <li *ngFor="let userPermission of userPermissions">
                {{userPermission.user.fullname}}
                <button mat-button color="primary" (click)="deleteUserPermission(userPermission.id)">
                    Удалить
                    <mat-icon>delete</mat-icon>
                </button>
            </li>
        </ul>
    </div>
    <div>
        Одноразовые ссылки
        <ul>
            <li *ngFor="let singleLink of singleLinks">
                http://localhost:3000/right-assignment-tokens/activate/{{singleLink}}
                <button mat-button color="primary" (click)="deleteSingleLink(singleLink)">
                    Удалить
                    <mat-icon>delete</mat-icon>
                </button>
            </li>
        </ul>
    </div>
</div>