<h1 mat-dialog-title>
    <mat-icon>group_add</mat-icon> Предоставьте доступ пользователям <mat-icon>settings</mat-icon>
</h1>
<div mat-dialog-content>
    Сгенерировать одноразовую ссылку
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Выберите тип разрешения</mat-label>
            <mat-select [(value)]="selectedPermission">
                <mat-option *ngFor="let permission of permissions" [value]="permission">
                    {{permission}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="generateSingleLink()">
            Сгенерировать
            <mat-icon>supervised_user_circle</mat-icon>
        </button>
    </div>
    <div>
        Доступен
        <ul>
            <li *ngFor="let userPermission of userPermissions">
                {{userPermission.user.fullname}}
                {{userPermission.permission}}
                <button mat-button color="primary" (click)="deleteUserPermission(userPermission.id)">
                    Удалить
                    <mat-icon>delete</mat-icon>
                </button>
            </li>
        </ul>
    </div>
    <div>
        Одноразовые ссылки
        <ul>
            <li *ngFor="let token of tokens">
                <b>{{token.permission}}</b>
                http://localhost:3000/right-assignment-tokens/activate/{{token.id}}
                <button mat-button color="primary" (click)="deleteSingleLink(token.id)">
                    Удалить
                    <mat-icon>delete</mat-icon>
                </button>
            </li>
        </ul>
    </div>
</div>