<div class="header">
    <div class="header__left">
        <div>
            <a [routerLink]="['']">
                <mat-icon>arrow_back</mat-icon>
            </a>
        </div>
        <div class="header__inputs">
            <h1>{{title}}</h1>
        </div>
    </div>
    <div class="header__right">

    </div>
</div>
<span *ngIf="isLoadingText">
    <mat-spinner color="warn"></mat-spinner>
</span>
<span *ngIf="isErrorText">
    <mat-icon>cloud_off</mat-icon>
</span>
<mat-card class="my-container" *ngIf="text">

    <div [innerHTML]="text"></div>
</mat-card>