.my-container {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 15px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
  }
  
  .header__left {
    display: flex;
    flex: auto;
  }
  
  .header__inputs {
    display: flex;
    flex-direction: column;
  }
  
  .users__wrapper {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .users {
    display: flex;
    flex-direction: row;
  }
  
  .users__item {
    list-style-type: none;
    margin-right: 20px;
  }
  .title__wrapper {
    display: flex;
    align-items: center;
  }
  
  .title {
    margin: 0;
    padding: 0;
  }
  