<h1>MAIN PAGE</h1>

<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
<!-- <app-main></app-main>

<app-login> </app-login>
<app-register> </app-register> -->
<!-- <ul>
    <li><a [routerLink]="['/text', 1]">TEXT 1</a></li>
    <li><a [routerLink]="['/text', 2]">TEXT 2</a></li>
</ul> -->

<!-- <div>
    <button (click)="getMine()">GET MINE</button>
    <button (click)="save()">SAVE</button>
    <quill-editor [(ngModel)]="inText" (onContentChanged)="ContentChangedHandler($event)"></quill-editor>
</div> -->


<router-outlet></router-outlet>