.my-container {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
}

.btn__icon{
  text-align: left;
}

.text__title{
  border: 1px solid transparent;
  font-size: 15px;
}

.text__title:hover{
  border: 1px solid grey;
}
.icon__back{
  font-size: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
}

.header__left {
  display: flex;
  flex: auto;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__avatar{
  font-size: 30px;
}


.header__inputs {
  display: flex;
  flex-direction: column;
}

.users__wrapper {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.users {
  display: flex;
  flex-direction: row;
}

.userFullname{
  margin-left: 10px;
}

.usersMenu{
  padding: 5px 8px;
}

.userMenu__item{
  display: flex;
  align-items: end;
  margin-bottom: 5px;
}

.users__item {
  list-style-type: none;
  margin-right: 20px;
}
.title__wrapper {
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
  padding: 0;
}
