<div class="header">
    <div class="header__left">
        <div>
            <button class="btn__icon" mat-icon-button matTooltip="Выйти в главное меню" routerLink="">
                <mat-icon class="icon__back">arrow_back</mat-icon>
            </button>
        </div>
        <div class="header__inputs">
            <input class="text__title" matInput [formControl]="titleCtrl" required>
            <div class="buttons">
                <button class="button" (click)="saveChanges()">
                    SAVE
                    <!-- <mat-icon>create</mat-icon> -->
                </button>
            </div>
        </div>
        <div class="users__wrapper">
            <ul class="users">
                <ng-template [ngIf]="usersInRoom!.length < 4" [ngIfElse]="userCount">
                    <mat-icon *ngFor="let user of usersInRoom" class="users__item header__avatar"
                        [matTooltip]="user.fullname">account_circle
                    </mat-icon>
                </ng-template>

                <ng-template #userCount>
                    <button mat-icon-button [matMenuTriggerFor]="menu">{{usersInRoom!.length}} <mat-icon>
                            supervisor_account</mat-icon></button>
                    <mat-menu #menu="matMenu">
                        <div class="usersMenu">
                            <div *ngFor="let user of usersInRoom" class="userMenu__item">
                                <mat-icon class="header__avatar">account_circle
                                </mat-icon>
                                <span class="userFullname">
                                    {{user.fullname}}
                                </span>
                            </div>
                        </div>
                    </mat-menu>
                </ng-template>
            </ul>
        </div>
    </div>
    <div class="header__right">
        <button mat-raised-button color="primary" (click)="share()">
            SHARE SETTINGS
            <mat-icon>supervised_user_circle</mat-icon>
        </button>
        <span *ngIf="isLoadingMe">
            <mat-spinner diameter="40"></mat-spinner>
        </span>
        <span *ngIf="isErrorMe">
            <mat-icon>cloud_off</mat-icon>
        </span>
        <mat-icon *ngIf="!isLoadingMe && !isErrorMe" class="header__avatar">account_circle</mat-icon>
        <!-- <img class="header__right__items" mat-card-avatar
            src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"> -->
    </div>
</div>

<div class="spinner__wrapper">
    <mat-spinner *ngIf="isLoadingText"></mat-spinner>
    <mat-icon *ngIf="isErrorText">cloud_off</mat-icon>
</div>
<div *ngIf="!isLoadingText && !isErrorText">
    <div id="toolbar">
        <span class="ql-formats">
            <select class="ql-font">
                <option selected></option>
                <option value="serif"></option>
                <option value="monospace"></option>
            </select>
            <select class="ql-size">
                <option value="small"></option>
                <option selected></option>
                <option value="large"></option>
                <option value="huge"></option>
            </select>
        </span>
        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
        </span>
        <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
        </span>
        <span class="ql-formats">
            <button class="ql-link"></button>
            <button class="ql-image"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-align" value=""></button>
            <button class="ql-align" value="center"></button>
            <button class="ql-align" value="right"></button>
            <button class="ql-align" value="justify"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
        </span>
    </div>

    <mat-card class="my-container" *ngIf="text">
        <quill-editor *ngIf="!isErrorText && !isLoadingText" [(ngModel)]="text.content" [modules]="modules"
            (onContentChanged)="ContentChangedHandler($event)">
        </quill-editor>
    </mat-card>
</div>