<div>
    <a [routerLink]="['']">
        <mat-icon>arrow_back</mat-icon>
    </a>
</div>
<div class="header">
    <button mat-icon-button (click)="saveChanges()">
        SAVE
        <!-- <mat-icon>create</mat-icon> -->
    </button>

    <div class="users__wrapper">
        <h6 class="users__title">USERS</h6>
        <ul class="users" *ngFor="let user of usersInRoom">
            <li class="users__item">{{user.fullname}}</li>
            <li class="users__item">Mikel</li>
        </ul>
    </div>
</div>
<div class="title__wrapper">
    <div>
        <h2 class="title">title</h2>
        <input matInput [formControl]="titleCtrl" required>
    </div>

</div>
<mat-card class="my-container" *ngIf="text">
    <quill-editor [(ngModel)]="text.content" (onContentChanged)="ContentChangedHandler($event)"></quill-editor>
</mat-card>