<div class="header">
    <div class="header__left">
        <div>
            <a [routerLink]="['']">
                <mat-icon>arrow_back</mat-icon>
            </a>
        </div>
        <div class="header__inputs">
            <input matInput [formControl]="titleCtrl" required>
            <div class="buttons">
                <button class="button" (click)="saveChanges()">
                    SAVE
                    <!-- <mat-icon>create</mat-icon> -->
                </button>
            </div>
        </div>


        <h6>USERS</h6>
        <div class="users__wrapper">
            <ul class="users" *ngFor="let user of usersInRoom">
                <li class="users__item">{{user.fullname}}</li>
            </ul>
        </div>
    </div>
    <div class="header__right">
        <button mat-raised-button color="primary" (click)="share()">
            SHARE SETTINGS
            <mat-icon>supervised_user_circle</mat-icon>
        </button>
    </div>
</div>

<mat-card class="my-container" *ngIf="text">
    <quill-editor [(ngModel)]="text.content" [modules]="modules" (onContentChanged)="ContentChangedHandler($event)">
    </quill-editor>
</mat-card>