<div class="body">
    <mat-card class="container">
        <h1 class="title">Регистрация</h1>
        <mat-form-field>
            <mat-label>Введите ФИО</mat-label>
            <input matInput placeholder="Александр" [formControl]="fullnameCtrl" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Введите эл. почту</mat-label>
            <input matInput ngModel email type="email" placeholder="yourEmail@mail.ru" [formControl]="emailCtrl"
                required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Введите пароль</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordCtrl" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button mat-raised-button (click)="register()" type="button">Зарегистрироваться</button>
        <p class="text-center">уже есть аккаунт?</p>
        <button mat-button (click)="gotoLogin()" type="button">Войти</button>
    </mat-card>
</div>